html {
    font-size: 20px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

/* --- ACCESSIBILITY --- */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}

.sr-only:active,
.sr-only:focus {
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    margin: 0;
    position: static;
    white-space: inherit;
}

.skip-link:active,
.skip-link:focus {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #1b75bc;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid #333333;
    z-index: 100;
}

.lock-scroll {
    overflow-y: hidden;
}


/* --- LAYOUT AND UTILITIES CLASES --- */
.l-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.l-container--fluid {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1300px;
}

.l-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.l-section-divider {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b9b9bc;
}

.u-text-muted {
    color: #999999;
}

.u-text-bolded {
    font-weight: 700;
}

.u-text-red {
    color: #ff0033;
}

.btn {
    color: #333333;
    font-weight: bold;
    line-height: 40px;
    background-color: transparent;
    padding-left: 12px;
    padding-right: 12px;
    border: 2px solid #333333;
    cursor: pointer;
}

.btn--promo-video {
    color: #ffffff;
    line-height: 24px;
    margin-top: 15px;
    min-width: 130px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn--promo-video:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn--promo-video:hover,
.btn--promo-video:focus,
.btn--promo-video:active {
    color: #ff0033;
}

.btn--promo-video:hover:before,
.btn--promo-video:focus:before,
.btn--promo-video:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}



/* --- NAVBAR --- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 75px;
    overflow-y: hidden;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #ffffff;
    border-bottom: 1px solid #b9b9bc;
    transition: height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.navbar.mobile-navbar-expanded {
    height: 100vh;
    overflow-y: scroll;
}

.navbar.desktop-navbar-expanded {
    height: 100vh;
    overflow-y: scroll;
}

.navbar > .l-container--fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.navbar__logo {
    align-self: center;
    transform: translateX(-50%);
}

.navbar__logo img {
    height: 55px;
    width: auto;
}



/* --- GLOBALNAV --- */
.globalnav {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    order: 3;
}

.globalnav.is-hidden {
    display: none;
}

.globalnav__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    transform: translate3d(0, -100px, 0);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.2s; 
}

.globalnav__list.is-visible {
    transform: translate3d(0, 0, 0);
}

.globalnav__list.is-slided-down {
    transform: translate3d(0, 500px, 0);
}

.globalnav__item {
    line-height: 2.6;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.globalnav__item::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #b9b9bc;
}

.globalnav__item:first-child::before {
    display: none;
}

.globalnav__item.is-visible {
    opacity: 1;
}

.globalnav__item > a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #333333;
}

.globalnav__item > a.disabled {
    pointer-events: none;
}

.globalnav__item.is-active > a {
    color: #ff0033;
}

.globalnav__item > a:hover {
    color: #ff0033;
}



/* --- IMPORTANT INFO --- */
.important-info-btn {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.3;
    color: #ffffff;
    background-color: #ff0033;
    max-width: 100px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    border-radius: 16px;
    align-self: center;
    order: -1;
    cursor: pointer;
}

.important-info-btn:hover,
.important-info-btn:active,
.important-info-btn:focus {
    background-color: #ee0022;
}

.important-info {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
    transform: translate3d(0, -100px, 0);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.1s, opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s
}

.important-info.is-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.important-info.is-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.important-info__collapse-btn {
    position: relative;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    align-self: flex-end;
}

.collapse-btn__line {
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    top: 15px;
}
.collapse-btn__line:nth-child(1) {
    left: 0;
    transform: translateY(-1px) rotate(-45deg);
}
.collapse-btn__line:nth-child(2) {
    right: 0;
    transform: translateY(-1px) rotate(45deg);
}

.important-info__collapse-btn:hover .collapse-btn__line {
    background-color: #999999;
}



.important-info__callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.important-info__callout--success {
    border-left-color: #5cb85c;
}
.important-info__callout--danger {
    border-left-color: #d9534f;
}
.important-info__callout--warning {
    border-left-color: #f0ad4e;
}



.callout-warning {
    font-weight: 700;
    font-size: 1.2rem;
    color: #5a5a5a;
    margin-top: 0;
    margin-bottom: 15px;
}

.important-info__callout--success .callout-warning {
    display: none;
}

.callout-info {
    font-size: 0.75rem;
    line-height: 1.6;
    color: #5a5a5a;
    margin-top: 0;
    margin-bottom: 0;
}

.callout-info__whether-open {
    color: #333333;
    font-weight: 700;
}

.callout-info__date {
    color: #999999;
    font-weight: 700;
}

.callout-desctiption {
    font-size: 0.75rem;
    line-height: 1.6;
    color: #5a5a5a;
    margin-top: 15px;
    margin-bottom: 0;
}

.callout-desctiption--is-hidden {
    display: none;
}


.important-info__heading {
    color: #333333;
    font-weight: 700;
    font-size: 0.85rem;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 10px;
}

.important-info__content {
    color: #5a5a5a;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 15px;
}

.important-info__annotation {
    font-size: 0.7rem;
    color: #5a5a5a;
}



/* --- HERO SLIDER --- */
.hero-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.hero-slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.hero-slider__slide--active {
    opacity: 1;
}


.hero-slider__promo {
    width: 100%;
    position: absolute;
    bottom: 70px;
}

.hero-slider__promo-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-shadow: 1px 1px 1px #666666;
    margin-top: 0;
    margin-bottom: 13px;
}

.hero-slider__promo-text--small {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.75rem;
    letter-spacing: normal;
    margin-bottom: 5px;
}


.hero-slider__scrollme {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 15px;
}

.hero-slider__scrollme-text {
    display: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.75rem;
    text-shadow: 1px 1px 1px #666666;
}

.hero-slider__scrollme  svg {
    animation: slideInDown;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
}



/* --- VIDEO MODAL --- */
.video-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 0;
    background-color: #000000;
    overflow-y: scroll;
    transition: height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
}

.video-modal.is-hidden {
    height: 0;
    
}

.video-modal__iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .video-modal__iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

.video-modal__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.close-btn__line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #efefef;
    position: absolute;
    top: 15px;
}
.close-btn__line:nth-child(1) {
    transform: translateY(-1px) rotate(45deg);
}
.close-btn__line:nth-child(2) {
    transform: translateY(-1px) rotate(-45deg);
}



/* --- SECTION ABOUT --- */
.about-story__heading {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.2em;
}

.about-story__subheading {
    font-size: 1.2rem;
    color: #333333;
}

.about-story__content {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
}

.about-story__paragraph {
    font-family: 'Caveat', cursive;
    font-size: 1.1rem;
    line-height: 1.2;
    margin-top: 0;
}

.about-story__paragraph:last-of-type {
    margin-bottom: 0;
}



/* --- SECTION --- */
.section {
    padding-bottom: 60px;
    padding-top: 60px;
}

.section > .l-container {
    display: flex;
    flex-wrap: wrap;
}

.section--one-column > .l-container {
    flex-direction: column;
}

.section--two-column > .l-container {
    align-items: flex-start;
}

.section__image {
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.section__image > img {
    width: 100%;
    height: auto;
}

.section__content {
    width: 100%;
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.section__content--no-margin {
    margin: 0;
}

.section__heading {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    color: #5a5a5a;
    margin-bottom: 20px;
    margin-top: 0;
}

.section__lead {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 40px;
}

.section__paragraph {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #333333;
}

.section__paragraph:last-of-type {
    margin-bottom: 0;
}

.section__content-group {
    margin-bottom: 30px;
}

.section__content-group:first-of-type {
    margin-top: 40px;
}

.content-group__heading {
    font-size: 0.95rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #5a5a5a;
    margin-top: 0;
    margin-bottom: 5px;
}

.content-group__info {
    color: #333333;
    font-size: 0.85rem;
    margin-top: 0;
    margin-bottom: 0;
}

.content-group__annotation {
    font-size: 0.75rem;
    font-weight: 300;
    color: #999999;
    margin-bottom: 0;
    margin-top: 10px;
}

.fb-link-img {
    height: 1.1rem;
    width: auto;
}



.table {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
  }

.table th,
.table td {
    padding: 0.5rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table thead th,
.table thead td {
    border-bottom-width: 2px;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.price-table__heading {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 15px;
}

.price-table__heading > span {
    margin-right: 15px;
}

.price-table {
    font-size: 0.75rem;
    margin-bottom: 30px;
    caption-side: bottom;
}

.price-table:last-of-type {
    margin-bottom: 0;
}

.price-table tbody td {
    font-weight: 300;
}

.price-table tbody td.cell-center,
.price-table thead th.cell-center {
    vertical-align: middle;
    text-align: center;
}

.price-table tbody td.cell-left,
.price-table thead th.cell-left {
    vertical-align: middle;
    text-align: left;
}

.price-table thead th {
    font-weight: 400;
    color: #5a5a5a;
}

caption {
    font-size: 0.75rem;
    text-align: left;
    margin-top: 10px;
}



.map-container {
    width: 100%;
}

.responsive-embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
 

.responsive-embed iframe{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


/* --- TESTIMONIALS SLIDER --- */
.glider-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.testimonial-ref {
    display: block;
    color: #000000;
    text-decoration: none;
}

.testimonial {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0;
}

.testimonial-quotation-mark {
    position: relative;
    padding: 30px;
    z-index: 2;
}

.testimonial-quotation-mark svg {
    height: 1.25rem;
    width: auto;
    fill: #ff0033;
    z-index: 2;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.testimonial-text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 35px;
    margin-right: 30px;
    margin-left: 30px;
}

.testimonial-author {
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


.testimonial-quotation-mark:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff0033;
    border-radius: 10px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.testimonial:hover .testimonial-quotation-mark svg,
.testimonial:focus .testimonial-quotation-mark svg,
.testimonial:active .testimonial-quotation-mark svg {
    fill: #ffffff;
}

.testimonial:hover .testimonial-author,
.testimonial:focus .testimonial-author,
.testimonial:active .testimonial-author {
    color: #ff0033;
}

.testimonial:hover .testimonial-quotation-mark:before,
.testimonial:focus .testimonial-quotation-mark:before,
.testimonial:active .testimonial-quotation-mark:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    z-index: -1;
}


/* --- PARTNERSHIPS SLIDER --- */
.partners-logo {
    display: block;
    text-align: center;
}

.partners-logo__img {
    height: 80px;
    width: auto;
    margin-bottom: 20px;
}

.partners-logo__img--scaled-down {
    height: 70px;
}



/* --- FOOTER --- */
.site-footer {
    padding-top: 20px;
    padding-bottom: 40px;
}

.copy-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7rem;
    font-weight: 300;
    color: #5a5a5a;
}



/* ------------- */
/* --- MEDIA QUERIES --- */

@media screen and (min-height: 331px) {
    .hero-slider__promo {
        bottom: 100px;
    }
    .hero-slider__scrollme {
        bottom: 20px;
    }
    .hero-slider__scrollme-text {
        display: block;
    }
}

@media screen and (min-height: 401px) {
    .hero-slider__promo {
        bottom: 150px;
    }
    .hero-slider__scrollme {
        bottom: 30px;
    }
    .hero-slider__scrollme-text {
        font-size: 1rem;
    }
}



@media screen and (min-width: 360px) {
    .important-info-btn {
        max-width: none;
        line-height: 1.6;
    }


    .about-story__heading {
        font-size: 1.4rem;
    }
    
    .about-story__subheading {
        font-size: 1.3rem;
    }
    
    .about-story__paragraph {
        font-size: 1.2rem;
    }


    .section__heading {
        font-size: 2.2rem;
    }
    
    .section__lead {
        font-size: 1.1rem;
    }
    
    .section__paragraph {
        font-size: 0.9rem;
    }

    .content-group__heading {
        font-size: 1rem;
    }
    
    .fb-link-img {
        height: 1.2rem;
    }

    .price-table__heading {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    
    .price-table {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 450px) {
    .partners-logo__img {
        height: 90px;
    }
    
    .partners-logo__img--scaled-down {
        height: 80px;
    }
}

@media screen and (min-width: 576px) {
    .l-container {
        width: 540px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .l-container--fluid {
        padding-left: 50px;
        padding-right: 50px;
    }

    .l-section-divider {
        width: 540px;
    }


    .callout-info {
        font-size: 0.8rem;
    }

    .callout-desctiption {
        font-size: 0.8rem;
    }

    .important-info__heading {
        font-size: 0.9rem;
    }

    .important-info__content {
        font-size: 0.85rem;
    }

    .important-info__annotation {
        font-size: 0.75rem;
    }


    .hero-slider__promo-text {
        font-size: 1.6rem;
        line-height: 1.6rem;
        margin-bottom: 20px;
    }
    .hero-slider__promo-text--small {
        font-size: 0.75rem;
        line-height: 1rem;
        margin-bottom: 5px;
    }


    .about-story__paragraph {
        font-size: 1.2rem;
        line-height: 1.3;
    }


    .price-table {
        font-size: 0.9rem;
    }

    .price-table__heading {
        font-size: 1.4rem;
    }

    caption {
        font-size: 0.8rem;
    }


    .partners-logo__img {
        height: 80px;
    }
    
    .partners-logo__img--scaled-down {
        height: 70px;
    }


    .copy-text {
        font-size: 0.75rem;
    }
}


@media screen and (min-width: 768px) {
    .l-container {
        width: 720px;
    }
    
    .l-section-divider {
        width: 720px;
    }


    .navbar {
        height: 90px;
    }

    .navbar__logo img {
        height: 64px;
    }


    .callout-warning {
        font-size: 1.4rem;
    }

    .callout-info {
        font-size: 0.9rem;
    }

    .callout-desctiption {
        font-size: 0.9rem;
    }

    .important-info__heading {
        font-size: 1rem;
    }

    .important-info__content {
        font-size: 0.95rem;
    }

    
    .about-story__heading {
        font-size: 1.5rem;
    }
    
    .about-story__subheading {
        font-size: 1.4rem;
    }

    .about-story__paragraph {
        font-size: 1.3rem;
        line-height: 1.3;
    }


    .section__heading {
        font-size: 2.4rem;
    }
    
    .section__lead {
        font-size: 1.2rem;
        line-height: 1.2;
    }
    
    .section__paragraph {
        font-size: 0.95rem;
    }

    .content-group__heading {
        font-size: 1rem;
    }
    
    .content-group__info {
        font-size: 0.9rem;
    }
    
    .content-group__annotation {
        font-size: 0.85rem;
    }
    
    .fb-link-img {
        height: 1.3rem;
    }


    .price-table {
        font-size: 0.95rem;
    }

    .price-table__heading {
        font-size: 1.5rem;
    }

    caption {
        font-size: 0.85rem;
    }

    .partners-logo__img {
        height: 100px;
    }
    
    .partners-logo__img--scaled-down {
        height: 90px;
    }


    .copy-text {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 992px) {
    .l-container {
        width: 960px;
    }
    
    .l-section-divider {
        width: 960px;
    }


    .navbar {
        height: 100px;
    }

    .important-info-btn {
        order: 0;
    }

    #menu-btn {
        display: none;
    }

    .navbar__logo {
        align-self: auto;
        transform: translateX(0px);
    }

    .navbar__logo img {
        height: 78px;
    }


    .globalnav {
        display: block;
        width: auto;
        align-self: center;
        flex-grow: 1;
        order: 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .globalnav__list {
        transform: translate3d(0, 0, 0);
        flex-direction: row;
    }
    
    .globalnav__item {
        font-size: 0.8rem;
        line-height: 1.6;
        font-weight: 700;
        text-align: center;
        opacity: 1;
        flex-grow: 1;
    }

    .globalnav__item::before {
        display: none;
    }

    .globalnav__item > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .important-info {
        order: 0;
    }

    .callout-warning {
        font-size: 1.6rem;
    }

    .callout-info {
        font-size: 1rem;
    }

    .callout-desctiption {
        font-size: 1rem;
    }

    .important-info__heading {
        font-size: 1.2rem;
    }

    .important-info__content {
        font-size: 1.1rem;
    }

    .important-info__annotation {
        font-size: 0.9rem;
    }


    .hero-slider__promo-text {
        font-size: 2.4rem;
        line-height: 2.4rem;
        margin-bottom: 20px;
    }
    .hero-slider__promo-text--small {
        font-size: 0.9rem;
        line-height: 1.6rem;
        margin-bottom: 10px;
    }


    .section > .l-container {
        flex-wrap: nowrap;
    }

    .section--two-column .section__content {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        max-width: 400px;
        margin-right: 20px;
    }

    .section__content {
        margin-top: 120px;
    }

    .section__content--no-margin {
        margin-top: 0;
    }

    .section__image--right {
        order: 1;
        margin-left: 40px;
        margin-right: 0;
    }

    .section__image--left {
        order: 0;
        margin-left: 0;
        margin-right: 40px;
    }
    
    .section__paragraph {
        font-size: 1rem;
    }

    .section--float > .l-container {
        display: block;
    }

    .section--float .section__image {
        float: right;
        margin-left: 40px;
        margin-top: -120px;
    }

    .section--float .section__content {
        margin-left: 0;
        margin-right: 0;
    }

    .section__content-group.l-desktop-order-last {
        order: 2;
        margin-bottom: 0;
    }

    .content-group__annotation {
        max-width: 40ch;
    }


    .price-table {
        font-size: 1rem;
    }

    .price-table__heading {
        margin-top: 10px;
    }

    caption {
        font-size: 0.9rem;
    }

    .testimonial-ref {
        margin-right: 30px;
    }

    .testimonial-ref:last-child {
        margin-right: 0;
    }

    .testimonial-quotation-mark svg {
        height: 30px;
    }

    .testimonial-text {
        font-size: 1.1rem;
    }

    .testimonial-author {
        font-size: 0.9rem;
    }

    .map-container {
        align-self: flex-end;
    }


    .site-footer {
        padding-top: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .l-container {
        width: 1140px;
    }

    .l-section-divider {
        width: 1140px;
    }


    .about-story__heading {
        font-size: 1.7rem;
    }
    
    .about-story__subheading {
        font-size: 1.6rem;
    }

    .about-story__paragraph {
        font-size: 1.4rem;
        line-height: 1.5;
    }


    .section__image {
        max-width: 512px;
    }

    .section__heading {
        font-size: 2.5rem;
    }
    

    .price-table {
        font-size: 1.1rem;
    }

    .price-table__heading {
        font-size: 1.6rem;
    }

    .partners-logo__img {
        height: 110px;
    }
    
    .partners-logo__img--scaled-down {
        height: 100px;
    }
}







/* --- KEYFRAMES ANIMATIONS --- */

@keyframes slideInDown {
    0% {
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
  
    25% {
      opacity: 1;
    }

    75% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
  }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}







